.bmi-result {
  text-align: center;
  font-weight: bold;
  font-size: 20em;
  color: green;
}

.bmi-CENAS {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 500px;
}

.bmi-plus {
  font-size: 300px;
  color: grey;
  display: flex;
}